<ion-header>
  <ion-navbar>
    <ion-title>Congratulations!</ion-title>
    <ion-buttons end>
      <button (click)="dismiss()" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="thumbs-up"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <div class="rewards-page__layer"></div> -->
  <div class="rewards-page__inner" padding>
    <img alt="Reward cup" src="assets/icon/if_cup_416372.png" />
    <h2 *ngIf="goalsAchieved && !goodSleep">You have achieved your goals and earned {{ lifepoints }} lifepoints!</h2>
    <h2 *ngIf="!goalsAchieved && goodSleep">You respected all sleep suggestions and earned {{ lifepoints }} lifepoints!</h2>
    <h2 *ngIf="goalsAchieved && goodSleep">You respected all sleep suggestions, achived your goals earned {{ lifepoints }} lifepoints!</h2>
    <!-- 
      https://www.flaticon.com/packs/healthy-lifestyle-11
      <img alt="Night moon" src="assets/icon/night-256.png" />
      <br />
      <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </div>
</ion-content>