<ion-header>
  <ion-navbar>
    <ion-title>{{ food.name || 'New food' }}</ion-title>
    <ion-buttons end>
      <button (click)="editFood()" *ngIf="(food.uploader && food.uploader === authId) && !editMode" icon-only
        ion-button padding>
        <ion-icon name="create"></ion-icon>
      </button>
      <button (click)="dismiss()" *ngIf="!editMode" icon-only ion-button padding>
        <ion-icon name="done-all"></ion-icon>
      </button>
      <button (click)="save()" [disabled]="foodForm.invalid" *ngIf="editMode" icon-only ion-button padding>
        <ion-icon name="done-all"></ion-icon>
      </button>
      <button (click)="remove()" [disabled]="!food.$key" *ngIf="editMode" icon-only ion-button padding>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!editMode">
    <ion-item-group>
      <ion-item-divider>Proximates</ion-item-divider>
      <ion-item>
        Energy
        <p item-content>
          {{ food.nourishment.energy?.value }} {{ food.nourishment.energy?.unit }} ({{ foodNourishmentAchieved?.energy.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Water
        <p item-content>{{ food.nourishment.water?.value }} {{ food.nourishment.water?.unit }} ({{ foodNourishmentAchieved?.water.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Protein
        <p item-content>{{ food.nourishment.protein?.value }} {{ food.nourishment.protein?.unit }} ({{ foodNourishmentAchieved?.protein?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Carbohydrates
        <p item-content>{{ food.nourishment.carbs?.value }} {{ food.nourishment.carbs?.unit }} ({{ foodNourishmentAchieved?.carbs.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Fiber
        <p item-content>{{ food.nourishment.fiber?.value }} {{ food.nourishment.fiber?.unit }} ({{ foodNourishmentAchieved?.fiber.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Sugars
        <p item-content>{{ food.nourishment.sugars?.value }} {{ food.nourishment.sugars?.unit }} ({{ foodNourishmentAchieved?.sugars.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Fats
        <p item-content>{{ food.nourishment.fats?.value }} {{ food.nourishment.fats?.unit }} ({{ foodNourishmentAchieved?.fats.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Trans fat
        <p item-content>{{ food.nourishment.transFat?.value }} {{ food.nourishment.transFat?.unit }} ({{ foodNourishmentAchieved?.transFat?.value
          }}%)
        </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Essential fatty acids</ion-item-divider>
      <ion-item>
        Omega-3 (ALA)
        <p item-content>{{ food.nourishment.ala?.value }} {{ food.nourishment.ala?.unit }} ({{ foodNourishmentAchieved?.ala.value }}%)
        </p>
      </ion-item>
      <ion-item>
        Omega-6 (LA)
        <p item-content>{{ food.nourishment.la?.value }} {{ food.nourishment.la?.unit }} ({{ foodNourishmentAchieved?.la.value }}%)
        </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Essential amino acids</ion-item-divider>
      <ion-item>
        Histidine
        <p item-content>{{ food.nourishment.histidine?.value }} {{ food.nourishment.histidine?.unit }} ({{ foodNourishmentAchieved?.histidine?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Isoleucine
        <p item-content>{{ food.nourishment.isoleucine?.value }} {{ food.nourishment.isoleucine?.unit }} ({{ foodNourishmentAchieved?.isoleucine?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Leucine
        <p item-content>{{ food.nourishment.leucine?.value }} {{ food.nourishment.leucine?.unit }} ({{ foodNourishmentAchieved?.leucine?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Lysine
        <p item-content>{{ food.nourishment.lysine?.value }} {{ food.nourishment.lysine?.unit }} ({{ foodNourishmentAchieved?.lysine.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Methionine
        <p item-content>{{ food.nourishment.methionine?.value }} {{ food.nourishment.methionine?.unit }} ({{ foodNourishmentAchieved?.methionine?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Phenylalanine
        <p item-content>{{ food.nourishment.phenylalanine?.value }} {{ food.nourishment.phenylalanine?.unit }} ({{ foodNourishmentAchieved?.phenylalanine?.value
          }}%
        </p>
      </ion-item>
      <ion-item>
        Threonine
        <p item-content>{{ food.nourishment.threonine?.value }} {{ food.nourishment.threonine?.unit }} ({{ foodNourishmentAchieved?.threonine?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Tryptophan
        <p item-content>{{ food.nourishment.tryptophan?.value }} {{ food.nourishment.tryptophan?.unit }} ({{ foodNourishmentAchieved?.tryptophan?.value
          }}%)
        </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Essential vitamins</ion-item-divider>
      <ion-item>
        Vitamin A
        <p item-content>{{ food.nourishment.vitaminA?.value }} {{ food.nourishment.vitaminA?.unit }} ({{ foodNourishmentAchieved?.vitaminA?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B1 (Thiamine)
        <p item-content>{{ food.nourishment.vitaminB1?.value }} {{ food.nourishment.vitaminB1?.unit }} ({{ foodNourishmentAchieved?.vitaminB1?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B2 (Riboflavin)
        <p item-content>{{ food.nourishment.vitaminB2?.value }} {{ food.nourishment.vitaminB2?.unit }} ({{ foodNourishmentAchieved?.vitaminB2?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B3 (Niacin)
        <p item-content>{{ food.nourishment.vitaminB3?.value }} {{ food.nourishment.vitaminB3?.unit }} ({{ foodNourishmentAchieved?.vitaminB3?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B5 (Pantothenic acid)
        <p item-content>{{ food.nourishment.vitaminB5?.value }} {{ food.nourishment.vitaminB5?.unit }} ({{ foodNourishmentAchieved?.vitaminB5?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B6 (Pyridoxine)
        <p item-content>{{ food.nourishment.vitaminB6?.value }} {{ food.nourishment.vitaminB6?.unit }} ({{ foodNourishmentAchieved?.vitaminB6?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B9 (Folate)
        <p item-content>{{ food.nourishment.vitaminB9?.value }} {{ food.nourishment.vitaminB9?.unit }} ({{ foodNourishmentAchieved?.vitaminB9?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin B12 (Cobalamin)
        <p item-content>{{ food.nourishment.vitaminB12?.value }} {{ food.nourishment.vitaminB12?.unit }} ({{ foodNourishmentAchieved?.vitaminB12?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Choline
        <p item-content>{{ food.nourishment.choline?.value }} {{ food.nourishment.choline?.unit }} ({{ foodNourishmentAchieved?.choline?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin C (Ascorbic acid)
        <p item-content>{{ food.nourishment.vitaminC?.value }} {{ food.nourishment.vitaminC?.unit }} ({{ foodNourishmentAchieved?.vitaminC?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin D (Cholecalciferol)
        <p item-content>{{ food.nourishment.vitaminD?.value }} {{ food.nourishment.vitaminD?.unit }} ({{ foodNourishmentAchieved?.vitaminD?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin E (Tocopherol)
        <p item-content>{{ food.nourishment.vitaminE?.value }} {{ food.nourishment.vitaminE?.unit }} ({{ foodNourishmentAchieved?.vitaminE?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Vitamin K
        <p item-content>{{ food.nourishment.vitaminK?.value }} {{ food.nourishment.vitaminK?.unit }} ({{ foodNourishmentAchieved?.vitaminK?.value
          }}%)
        </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>Essential minerals</ion-item-divider>
      <ion-item>
        Calcium
        <p item-content>{{ food.nourishment.calcium?.value }} {{ food.nourishment.calcium?.unit }} ({{ foodNourishmentAchieved?.calcium?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Copper
        <p item-content>{{ food.nourishment.copper?.value }} {{ food.nourishment.copper?.unit }} ({{ foodNourishmentAchieved?.copper.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Iron
        <p item-content>{{ food.nourishment.iron?.value }} {{ food.nourishment.iron?.unit }} ({{ foodNourishmentAchieved?.iron.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Magnesium
        <p item-content>{{ food.nourishment.magnesium?.value }} {{ food.nourishment.magnesium?.unit }} ({{ foodNourishmentAchieved?.magnesium?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Manganese
        <p item-content>{{ food.nourishment.manganese?.value }} {{ food.nourishment.manganese?.unit }} ({{ foodNourishmentAchieved?.manganese?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Phosphorus
        <p item-content>{{ food.nourishment.phosphorus?.value }} {{ food.nourishment.phosphorus?.unit }} ({{ foodNourishmentAchieved?.phosphorus?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Potassium
        <p item-content>{{ food.nourishment.potassium?.value }} {{ food.nourishment.potassium?.unit }} ({{ foodNourishmentAchieved?.potassium?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Selenium
        <p item-content>{{ food.nourishment.selenium?.value }} {{ food.nourishment.selenium?.unit }} ({{ foodNourishmentAchieved?.selenium?.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Sodium
        <p item-content>{{ food.nourishment.sodium?.value }} {{ food.nourishment.sodium?.unit }} ({{ foodNourishmentAchieved?.sodium.value
          }}%)
        </p>
      </ion-item>
      <ion-item>
        Zinc
        <p item-content>{{ food.nourishment.zinc?.value }} {{ food.nourishment.zinc?.unit }} ({{ foodNourishmentAchieved?.zinc.value
          }}%)
        </p>
      </ion-item>
    </ion-item-group>
    <button block (click)="addToFavorites()" color="primary" ion-button *ngIf="!food.isFavorite">
      Add to favorites
    </button>
    <button block (click)="addToAvoidList()" color="warn" ion-button *ngIf="!food.toAvoid">
      Add to avoid list
    </button>
    <button block (click)="remove()" color="primary" ion-button *ngIf="food.isFavorite">
      Remove from favorites
    </button>
    <button block (click)="remove()" color="warn" ion-button *ngIf="food.toAvoid">
      Remove from avoid list
    </button>
  </div>
  <form [formGroup]="foodForm" *ngIf="editMode" novalidate>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Food info</ion-item-divider>
      <ion-item>
        <ion-label>Group *</ion-label>
        <ion-select formControlName="group" required>
          <ion-option *ngFor="let foodGroup of foodGroups" [value]="foodGroup">{{ foodGroup }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed text-wrap>Name *</ion-label>
        <ion-input formControlName="name" required type="text"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.name?.touched && foodForm.controls.name.errors?.required">Please enter the food name.</div>
      <ion-item>
        <ion-label fixed text-wrap>Quantity (g)*</ion-label>
        <ion-input formControlName="quantity" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.quantity?.touched && foodForm.controls.quantity.errors?.required">Please enter the food quantity.</div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Proximates</ion-item-divider>
      <ion-item>
        <ion-label fixed text-wrap>Energy (kcal)*</ion-label>
        <ion-input formControlName="energy" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.energy?.touched && foodForm.controls.energy.errors?.required">Please enter the energy content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Water (ml)*</ion-label>
        <ion-input formControlName="water" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.water?.touched && foodForm.controls.water.errors?.required">Please enter the water content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Protein (g)*</ion-label>
        <ion-input formControlName="protein" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.protein?.touched && foodForm.controls.protein.errors?.required">Please enter the protein content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Carbohydrates (g)*</ion-label>
        <ion-input formControlName="carbs" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.carbs?.touched && foodForm.controls.carbs.errors?.required">Please enter the carbohydrate content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Fiber (g)*</ion-label>
        <ion-input formControlName="fiber" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.fiber?.touched && foodForm.controls.fiber.errors?.required">Please enter the fiber content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Sugars (g)*</ion-label>
        <ion-input formControlName="sugars" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.sugars?.touched && foodForm.controls.sugars.errors?.required">Please enter the sugar content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Total fat (g)*</ion-label>
        <ion-input formControlName="fats" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.fats?.touched && foodForm.controls.fats.errors?.required">Please enter the fat content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Trans fat (g)*</ion-label>
        <ion-input formControlName="transFat" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.transFat?.touched && foodForm.controls.transFat.errors?.required">Please enter the trans fat content.</div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Essential fatty acids</ion-item-divider>
      <ion-item>
        <ion-label fixed text-wrap>Linoleic acid (g)*</ion-label>
        <ion-input formControlName="la" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.la?.touched && foodForm.controls.la.errors?.required">Please enter the linoleic acid content.</div>
      <ion-item>
        <ion-label fixed text-wrap>alpha-Linolenic acid (g)*</ion-label>
        <ion-input formControlName="ala" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.ala?.touched && foodForm.controls.ala.errors?.required">Please enter the alpha-linolenic acid content.</div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Essential amino acids</ion-item-divider>
      <ion-item>
        <ion-label fixed text-wrap>Histidine (g)*</ion-label>
        <ion-input formControlName="histidine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.histidine?.touched && foodForm.controls.histidine.errors?.required">Please enter the histidine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Isoleucine (g)*</ion-label>
        <ion-input formControlName="isoleucine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.isoleucine?.touched && foodForm.controls.isoleucine.errors?.required">Please enter the isoleucine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Leucine (g)*</ion-label>
        <ion-input formControlName="leucine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.leucine?.touched && foodForm.controls.leucine.errors?.required">Please enter the leucine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Lysine (g)*</ion-label>
        <ion-input formControlName="lysine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.lysine?.touched && foodForm.controls.lysine.errors?.required">Please enter the lysine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Methionine (g)*</ion-label>
        <ion-input formControlName="methionine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.methionine?.touched && foodForm.controls.methionine.errors?.required">Please enter the methionine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Phenylalanine (g)*</ion-label>
        <ion-input formControlName="phenylalanine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.phenylalanine?.touched && foodForm.controls.phenylalanine.errors?.required">Please enter the phenylalanine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Tryptophan (g)*</ion-label>
        <ion-input formControlName="tryptophan" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.tryptophan?.touched && foodForm.controls.tryptophan.errors?.required">Please enter the tryptophan content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Threonine (g)*</ion-label>
        <ion-input formControlName="threonine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.threonine?.touched && foodForm.controls.threonine.errors?.required">Please enter the threonine content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Valine (g)*</ion-label>
        <ion-input formControlName="valine" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.valine?.touched && foodForm.controls.valine.errors?.required">Please enter the valine content.</div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Minerals</ion-item-divider>
      <ion-item>
        <ion-label fixed text-wrap>Calcium (mg)*</ion-label>
        <ion-input formControlName="calcium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.calcium?.touched && foodForm.controls.calcium.errors?.required">Please enter the calcium content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Copper (mg)*</ion-label>
        <ion-input formControlName="copper" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.copper?.touched && foodForm.controls.copper.errors?.required">Please enter the copper content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Iron (mg)*</ion-label>
        <ion-input formControlName="iron" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.iron?.touched && foodForm.controls.iron.errors?.required">Please enter the iron content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Magnesium (mg)*</ion-label>
        <ion-input formControlName="magnesium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.magnesium?.touched && foodForm.controls.magnesium.errors?.required">Please enter the magnesium content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Manganese (mg)*</ion-label>
        <ion-input formControlName="manganese" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.manganese?.touched && foodForm.controls.manganese.errors?.required">Please enter the manganese content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Phosphorus (mg)*</ion-label>
        <ion-input formControlName="phosphorus" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.phosphorus?.touched && foodForm.controls.phosphorus.errors?.required">Please enter the phosphorus content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Potassium (mg)*</ion-label>
        <ion-input formControlName="potassium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.potassium?.touched && foodForm.controls.potassium.errors?.required">Please enter the potassium content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Selenium (ug)*</ion-label>
        <ion-input formControlName="selenium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.selenium?.touched && foodForm.controls.selenium.errors?.required">Please enter the selenium content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Sodium (mg)*</ion-label>
        <ion-input formControlName="sodium" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.sodium?.touched && foodForm.controls.sodium.errors?.required">Please enter the sodium content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Zinc (mg)*</ion-label>
        <ion-input formControlName="zinc" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.zinc?.touched && foodForm.controls.zinc.errors?.required">Please enter the zinc content.</div>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary" role="separator">Vitamins</ion-item-divider>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin A (ug)*</ion-label>
        <ion-input formControlName="vitaminA" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminA?.touched && foodForm.controls.vitaminA.errors?.required">Please enter the vitamin A content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B1 (mg)*</ion-label>
        <ion-input formControlName="vitaminB1" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB1?.touched && foodForm.controls.vitaminB1.errors?.required">Please enter the vitamin B1 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B2 (mg)*</ion-label>
        <ion-input formControlName="vitaminB2" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB2?.touched && foodForm.controls.vitaminB2.errors?.required">Please enter the vitamin B2 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B3 (mg)*</ion-label>
        <ion-input formControlName="vitaminB3" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB3?.touched && foodForm.controls.vitaminB3.errors?.required">Please enter the vitamin B3 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B5 (mg)*</ion-label>
        <ion-input formControlName="vitaminB5" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB5?.touched && foodForm.controls.vitaminB5.errors?.required">Please enter the vitamin B5 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B6 (mg)*</ion-label>
        <ion-input formControlName="vitaminB6" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB6?.touched && foodForm.controls.vitaminB6.errors?.required">Please enter the vitamin B6 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B9 (ug)*</ion-label>
        <ion-input formControlName="vitaminB9" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB9?.touched && foodForm.controls.vitaminB9.errors?.required">Please enter the vitamin B9 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin B12 (ug)*</ion-label>
        <ion-input formControlName="vitaminB12" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminB12?.touched && foodForm.controls.vitaminB12.errors?.required">Please enter the vitamin B12 content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Choline (mg)*</ion-label>
        <ion-input formControlName="choline" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.choline?.touched && foodForm.controls.choline.errors?.required">Please enter the choline content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitaminc C (mg)*</ion-label>
        <ion-input formControlName="vitaminC" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminC?.touched && foodForm.controls.vitaminC.errors?.required">Please enter the vitamin C content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin D (ug)*</ion-label>
        <ion-input formControlName="vitaminD" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminD?.touched && foodForm.controls.vitaminD.errors?.required">Please enter the vitamin D content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin E (mg)*</ion-label>
        <ion-input formControlName="vitaminE" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminE?.touched && foodForm.controls.vitaminE.errors?.required">Please enter the vitamin E content.</div>
      <ion-item>
        <ion-label fixed text-wrap>Vitamin K (ug)*</ion-label>
        <ion-input formControlName="vitaminK" required type="number"></ion-input>
      </ion-item>
      <div class="form__message--dark" *ngIf="foodForm.invalid && foodForm.controls.vitaminK?.touched && foodForm.controls.vitaminK.errors?.required">Please enter the vitamin K content.</div>
    </ion-item-group>
  </form>
</ion-content>