<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button clear [disabled]="!unsavedChanges" (click)="saveChanges()" ion-button>
        Save
      </button>
      <button icon ion-button (click)="viewPageInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="profilePageSegment">
      <ion-segment-button value="userInfo">
        Info
      </ion-segment-button>
      <ion-segment-button value="userFitness">
        Fitness
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="profilePageSegment">
    <div *ngSwitchCase="'userInfo'">
      <ion-grid>
        <ion-row align-items-center justify-content-center>
          <ion-col class="avatar">
            <div class="avatar__icon" *ngIf="!userInfo?.photoURL" text-center>
              <ion-icon name="person"></ion-icon>
            </div>
            <div class="avatar__image" [style.backgroundImage]="'url(' + userInfo?.photoURL + ')'" *ngIf="userInfo?.photoURL"></div>
            <button block (click)="changeImage()" ion-button>Change avatar</button>
          </ion-col>
          <ion-col>
            <h1>{{ userInfo?.displayName }}</h1>
            <p>{{ userInfo?.email }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <input type="file" #fileInput style="visibility: hidden; height: 0px" (change)="processWebImage($event)" />
      <ion-list>
        <ion-list-header>Bio</ion-list-header>
        <ion-item>
          <ion-label fixed>Age</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.age"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select (ionChange)="changeMade()" [(ngModel)]="userProfile.gender">
            <ion-option value="female">Female</ion-option>
            <ion-option value="male">Male</ion-option>
          </ion-select>
        </ion-item>
        <div *ngIf="userProfile.gender === 'female'">
          <ion-item>
            <ion-label>Pregnant</ion-label>
            <ion-toggle (ionChange)="changeMade()" [(ngModel)]="userProfile.isPregnant"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Lactating</ion-label>
            <ion-toggle (ionChange)="changeMade()" [(ngModel)]="userProfile.isLactating"></ion-toggle>
          </ion-item>
        </div>
        <ion-list-header>Measurements</ion-list-header>
        <ion-item>
          <ion-label fixed>Chest (cm)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.chest"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Height (cm)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.height"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Hips (cm)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.hips"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Neck (cm)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.neck"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Waist (cm)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.waist"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Weight (kg)</ion-label>
          <ion-input (ionChange)="changeMade()" [(ngModel)]="userProfile.measurements.weight"></ion-input>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'userFitness'">
      <ion-list>
        <ion-item>
          <h2>Basal metabolic rate</h2>
          <p item-content>{{ userProfile.fitness.bmr }} kcal/day</p>
        </ion-item>
        <ion-item>
          <h2>Body shape</h2>
          <p item-content>{{ userProfile.fitness.bodyShape }}</p>
        </ion-item>
        <ion-list-header>Body fat</ion-list-header>
        <ion-item>
          <h2>Fat category</h2>
          <p item-content>{{ userProfile.fitness.bodyFatPercentage.category }}</p>
        </ion-item>
        <ion-item>
          <h2>Fat mass</h2>
          <p item-content>{{ userProfile.fitness.bodyFatPercentage.fatMass }} kg</p>
        </ion-item>
        <ion-item>
          <h2>Lean muscle mass</h2>
          <p item-content>{{ userProfile.fitness.bodyFatPercentage.muscleMass }} kg</p>
        </ion-item>
        <ion-item>
          <h2>Body fat percentage</h2>
          <p item-content>{{ userProfile.fitness.bodyFatPercentage.fatPercentage }}%</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>