<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meal plan</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="mealPlanDetails" (click)="segmentChange()">
      <ion-segment-button value="meals">
        <ion-icon name="clock"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="nutrition">
        <ion-icon name="nutrition"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="warnings">
        <ion-icon name="warning"></ion-icon>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="mealPlanDetails">
    <div *ngSwitchCase="'meals'">
      <ion-item-group *ngFor="let meal of mealPlan?.meals; let i = index">
        <ion-item-divider color="primary">{{ meal.time }}</ion-item-divider>
        <ion-item>
          pH
          <p item-content ion-text color="{{ meal.pral > 0 ? 'danger' : 'secondary' }}">{{ meal.pral > 0 ? 'Acid forming' : 'Alkaline forming'}}</p>
        </ion-item>
        <ion-item>
          Size
          <p item-content ion-text color="{{ meal.quantity > 750 ? 'danger' : 'secondary' }}">{{ meal.quantity }} g</p>
        </ion-item>
        <ion-item>
          Warnings
          <p item-content ion-text color="{{ meal.warnings?.length ? 'danger' : 'secondary' }}">{{ meal.warnings?.length || 0 }} warnings</p>
        </ion-item>
        <ion-item>
          Foods
          <p item-content>{{ meal.mealItems?.length }} items</p>
        </ion-item>
        <button ion-item [navPush]="detailsPage" [navParams]="{ mealIdx: i, mealPlan: mealPlan }">
          More details
          <ion-note item-right><ion-icon name="arrow-forward"></ion-icon></ion-note>
        </button>
      </ion-item-group>

      <ion-fab right bottom>
        <button ion-fab color="secondary" (click)="addNewMeal()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
    </div>
    <!-- End of segment -->

    <!-- Start of segment -->
    <div *ngSwitchCase="'nutrition'">
      <ion-item-group>
        <ion-item-divider>Info</ion-item-divider>
        <ion-item>
          Energy
          <p item-content>{{ mealPlan.dailyNutrition.energy?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Macronutrients</ion-item-divider>
        <ion-item>
          Protein
          <p item-content>{{ mealPlan.dailyNutrition.protein?.value }}%</p>
        </ion-item>
        <ion-item>
          Fats
          <p item-content>{{ mealPlan.dailyNutrition.fats?.value }}%</p>
        </ion-item>
        <ion-item>
          Carbohydrates
          <p item-content>{{ mealPlan.dailyNutrition.carbs?.value }}%</p>
        </ion-item>
        <ion-item>
          Water
          <p item-content>{{ mealPlan.dailyNutrition.water?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential amino acids</ion-item-divider>
        <ion-item>
          Histidine
          <p item-content>{{ mealPlan.dailyNutrition.histidine?.value }}%</p>
        </ion-item>
        <ion-item>
          Isoleucine
          <p item-content>{{ mealPlan.dailyNutrition.isoleucine?.value }}%</p>
        </ion-item>
        <ion-item>
          Leucine
          <p item-content>{{ mealPlan.dailyNutrition.leucine?.value }}%</p>
        </ion-item>
        <ion-item>
          Lysine
          <p item-content>{{ mealPlan.dailyNutrition.lysine?.value }}%</p>
        </ion-item>
        <ion-item>
          Methionine
          <p item-content>{{ mealPlan.dailyNutrition.methionine?.value }}%</p>
        </ion-item>
        <ion-item>
          Phenylalanine
          <p item-content>{{ mealPlan.dailyNutrition.phenylalanine?.value }}%</p>
        </ion-item>
        <ion-item>
          Threonine
          <p item-content>{{ mealPlan.dailyNutrition.threonine?.value }}%</p>
        </ion-item>
        <ion-item>
          Tryptophan
          <p item-content>{{ mealPlan.dailyNutrition.tryptophan?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential vitamins</ion-item-divider>
        <ion-item>
          Vitamin A
          <p item-content>{{ mealPlan.dailyNutrition.vitaminA?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B1 (Thiamine)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB1?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B2 (Riboflavin)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB2?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B3 (Niacin)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB3?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B5 (Pantothenic acid)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB5?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B6 (Pyridoxine)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB6?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B9 (Folate)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB9?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin B12 (Cobalamin)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminB12?.value }}%</p>
        </ion-item>
        <ion-item>
          Choline
          <p item-content>{{ mealPlan.dailyNutrition.choline?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin C (Ascorbic acid)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminC?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin D (Cholecalciferol)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminD?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin E (Tocopherol)
          <p item-content>{{ mealPlan.dailyNutrition.vitaminE?.value }}%</p>
        </ion-item>
        <ion-item>
          Vitamin K
          <p item-content>{{ mealPlan.dailyNutrition.vitaminK?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential minerals</ion-item-divider>
        <ion-item>
          Calcium
          <p item-content>{{ mealPlan.dailyNutrition.calcium?.value }}%</p>
        </ion-item>
        <ion-item>
          Copper
          <p item-content>{{ mealPlan.dailyNutrition.copper?.value }}%</p>
        </ion-item>
        <ion-item>
          Iron
          <p item-content>{{ mealPlan.dailyNutrition.iron?.value }}%</p>
        </ion-item>
        <ion-item>
          Magnesium
          <p item-content>{{ mealPlan.dailyNutrition.magnesium?.value }}%</p>
        </ion-item>
        <ion-item>
          Manganese
          <p item-content>{{ mealPlan.dailyNutrition.manganese?.value }}%</p>
        </ion-item>
        <ion-item>
          Phosphorus
          <p item-content>{{ mealPlan.dailyNutrition.phosphorus?.value }}%</p>
        </ion-item>
        <ion-item>
          Potassium
          <p item-content>{{ mealPlan.dailyNutrition.potassium?.value }}%</p>
        </ion-item>
        <ion-item>
          Selenium
          <p item-content>{{ mealPlan.dailyNutrition.selenium?.value }}%</p>
        </ion-item>
        <ion-item>
          Sodium
          <p item-content>{{ mealPlan.dailyNutrition.sodium?.value }}%</p>
        </ion-item>
        <ion-item>
          Zinc
          <p item-content>{{ mealPlan.dailyNutrition.zinc?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential fatty acids</ion-item-divider>
        <ion-item>
          Omega-3 (ALA)
          <p item-content>{{ mealPlan.dailyNutrition.ala?.value }}%</p>
        </ion-item>
        <ion-item>
          Omega-3 (DHA)
          <p item-content>{{ mealPlan.dailyNutrition.dha?.value }}%</p>
        </ion-item>
        <ion-item>
          Omega-3 (EPA)
          <p item-content>{{ mealPlan.dailyNutrition.epa?.value }}%</p>
        </ion-item>
        <ion-item>
          Omega-6 (LA)
          <p item-content>{{ mealPlan.dailyNutrition.la?.value }}%</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Non-essential nutrients</ion-item-divider>
        <ion-item>
          Alcohol
          <p item-content>{{ mealPlan.dailyNutrition.alcohol?.value }}%</p>
        </ion-item>
        <ion-item>
          Caffeine
          <p item-content>{{ mealPlan.dailyNutrition.caffeine?.value }}%</p>
        </ion-item>
        <ion-item>
          Trans fat
          <p item-content>{{ mealPlan.dailyNutrition.transFat?.value }}%</p>
        </ion-item>
        <ion-item>
          Sugars
          <p item-content>{{ mealPlan.dailyNutrition.sugars?.value }}%</p>
        </ion-item>
      </ion-item-group>
    </div>
    <!-- End of segment -->

    <!-- Start of segment -->
    <div *ngSwitchCase="'warnings'">
      <ion-item-group>
        <ion-item-divider>Macronutrient deficiency</ion-item-divider>
        <ion-item *ngIf="mealPlan.deficiency.protein > 7">
          Protein
          <p item-content>{{ mealPlan.deficiency.protein }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.fats > 7">
          Fats
          <p item-content>{{ mealPlan.deficiency.fats }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.carbs > 7">
          Carbohydrates
          <p item-content>{{ mealPlan.deficiency.carbs }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.water > 7">
          Water
          <p item-content>{{ mealPlan.deficiency.water }} days</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential amino acids deficiency</ion-item-divider>
        <ion-item *ngIf="mealPlan.deficiency.histidine > 7">
          Histidine
          <p item-content>{{ mealPlan.deficiency.histidine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.isoleucine > 7">
          Isoleucine
          <p item-content>{{ mealPlan.deficiency.isoleucine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.leucine > 7">
          Leucine
          <p item-content>{{ mealPlan.deficiency.leucine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.lysine > 7">
          Lysine
          <p item-content>{{ mealPlan.deficiency.lysine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.methionine > 7">
          Methionine
          <p item-content>{{ mealPlan.deficiency.methionine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.phenylalanine > 7">
          Phenylalanine
          <p item-content>{{ mealPlan.deficiency.phenylalanine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.threonine > 7">
          Threonine
          <p item-content>{{ mealPlan.deficiency.threonine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.tryptophan > 7">
          Tryptophan
          <p item-content>{{ mealPlan.deficiency.tryptophan }} days</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential vitamins deficiency</ion-item-divider>
        <ion-item *ngIf="mealPlan.deficiency.vitaminA > 7">
          Vitamin A
          <p item-content>{{ mealPlan.deficiency.vitaminA }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB1 > 7">
          Vitamin B1 (Thiamine)
          <p item-content>{{ mealPlan.deficiency.vitaminB1 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB2 > 7">
          Vitamin B2 (Riboflavin)
          <p item-content>{{ mealPlan.deficiency.vitaminB2 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB3 > 7">
          Vitamin B3 (Niacin)
          <p item-content>{{ mealPlan.deficiency.vitaminB3 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB5 > 7">
          Vitamin B5 (Pantothenic acid)
          <p item-content>{{ mealPlan.deficiency.vitaminB5 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB6 > 7">
          Vitamin B6 (Pyridoxine)
          <p item-content>{{ mealPlan.deficiency.vitaminB6 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB9 > 7">
          Vitamin B9 (Folate)
          <p item-content>{{ mealPlan.deficiency.vitaminB9 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminB12 > 7">
          Vitamin B12 (Cobalamin)
          <p item-content>{{ mealPlan.deficiency.vitaminB12 }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.choline > 7">
          Choline
          <p item-content>{{ mealPlan.deficiency.choline }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminC > 7">
          Vitamin C (Ascorbic acid)
          <p item-content>{{ mealPlan.deficiency.vitaminC }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminD > 7">
          Vitamin D (Cholecalciferol)
          <p item-content>{{ mealPlan.deficiency.vitaminD }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminE > 7">
          Vitamin E (Tocopherol)
          <p item-content>{{ mealPlan.deficiency.vitaminE }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.vitaminK > 7">
          Vitamin K
          <p item-content>{{ mealPlan.deficiency.vitaminK }} days</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential minerals deficiency</ion-item-divider>
        <ion-item *ngIf="mealPlan.deficiency.calcium > 7">
          Calcium
          <p item-content>{{ mealPlan.deficiency.calcium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.copper > 7">
          Copper
          <p item-content>{{ mealPlan.deficiency.copper }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.iron > 7">
          Iron
          <p item-content>{{ mealPlan.deficiency.iron }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.magnesium > 7">
          Magnesium
          <p item-content>{{ mealPlan.deficiency.magnesium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.manganese > 7">
          Manganese
          <p item-content>{{ mealPlan.deficiency.manganese }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.phosphorus > 7">
          Phosphorus
          <p item-content>{{ mealPlan.deficiency.phosphorus }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.potassium > 7">
          Potassium
          <p item-content>{{ mealPlan.deficiency.potassium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.selenium > 7">
          Selenium
          <p item-content>{{ mealPlan.deficiency.selenium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.sodium > 7">
          Sodium
          <p item-content>{{ mealPlan.deficiency.sodium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.zinc > 7">
          Zinc
          <p item-content>{{ mealPlan.deficiency.zinc }} days</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential fatty acids deficiency</ion-item-divider>
        <ion-item *ngIf="mealPlan.deficiency.ala > 7">
          Omega-3 (ALA)
          <p item-content>{{ mealPlan.deficiency.ala }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.dha > 7">
          Omega-3 (DHA)
          <p item-content>{{ mealPlan.deficiency.dha }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.epa > 7">
          Omega-3 (EPA)
          <p item-content>{{ mealPlan.deficiency.epa }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.deficiency.la > 7">
          Omega-6 (LA)
          <p item-content>{{ mealPlan.deficiency.la }} days</p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Excess</ion-item-divider>
        <ion-item *ngIf="mealPlan.excess.energy > 7">
          Energy
          <p item-content>{{ mealPlan.excess.energy }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.carbs > 7">
          Carbohyrates
          <p item-content>{{ mealPlan.excess.carbs }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.fats > 7">
          Fats
          <p item-content>{{ mealPlan.excess.fats }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.protein > 7">
          Protein
          <p item-content>{{ mealPlan.excess.protein }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.sugars > 7">
          Sugars
          <p item-content>{{ mealPlan.excess.sugars }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.sodium > 7">
          Sodium
          <p item-content>{{ mealPlan.excess.Sodium }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.alcohol > 7">
          Alcohol
          <p item-content>{{ mealPlan.excess.alcohol }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.caffeine > 7">
          Caffeine
          <p item-content>{{ mealPlan.excess.caffeine }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.transFat > 7">
          Trans fat
          <p item-content>{{ mealPlan.excess.transFat }} days</p>
        </ion-item>
        <ion-item *ngIf="mealPlan.excess.sugars > 7">
          Sugars
          <p item-content>{{ mealPlan.excess.sugars }} days</p>
        </ion-item>
      </ion-item-group>
    </div>
    <!-- End of segment -->
  </div>

</ion-content>