<ion-content>
  <div class="auth-page">
    <form class="auth-form" [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
      <img class="auth-form__image" src="assets/icon/favicon.ico" />
      <h1 class="auth-form__title">Fitness RT</h1>
      <ion-list no-lines>
        <ion-item class="auth-form__item">
          <ion-input formControlName="nameControl" id="name" placeholder="Name*" required type="text"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && nameControl.touched && nameControl.errors?.required">
          <ion-icon name="warning"></ion-icon>
          Please enter your name.
        </div>
        <div class="form__message" *ngIf="nameControl.dirty && nameControl.errors?.pattern">
          <ion-icon name="warning"></ion-icon>
          Please enter a valid name.
        </div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="emailControl" placeholder="Email*" required type="email"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && emailControl.touched && emailControl.errors?.required">
          <ion-icon name="warning"></ion-icon>
          Please enter your email.
        </div>
        <div class="form__message" *ngIf="emailControl.dirty && emailControl.errors?.email">
          <ion-icon name="warning"></ion-icon>
          Please enter a valid email address.
        </div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="passwordControl" placeholder="Password*" required type="password"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && passwordControl.touched && passwordControl.errors?.required">
          <ion-icon name="warning"></ion-icon>
          Please enter your password.
        </div>
        <div class="form__message" *ngIf="passwordControl.dirty && passwordControl.errors?.minlength">
          <ion-icon name="warning"></ion-icon>
          Password must be at least 8 characters long.
        </div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="passwordConfirmControl" placeholder="Confirm password*" required type="password"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && passwordConfirmControl.touched && passwordConfirmControl.errors?.required">
          <ion-icon name="warning"></ion-icon>
          Please confirm your password.
        </div>
        <div class="form__message" *ngIf="passwordConfirmControl.dirty && passwordConfirmControl.errors?.equalTo">
          <ion-icon name="warning"></ion-icon>
          Passwords don't match.
        </div>
        <br>
        <button block color="light" [disabled]="registrationForm.invalid" ion-button round type="submit">
          <span color="primary" ion-text>Sign up</span>
        </button>
        <div class="auth-form__links">
          Already have an account?
          <a (click)="login()">Log in</a>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>