<ion-content>
  <div class="auth-page">
    <form class="auth-form" [formGroup]="registrationForm" (ngSubmit)="register()" novalidate>
      <img class="auth-form__image" src="assets/icon/favicon.ico" />
      <h1 class="auth-form__title">Fitness RT</h1>
      <ion-list no-lines>
        <ion-item class="auth-form__item">
          <ion-input formControlName="name" id="name" placeholder="Name*" required type="text"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && name.touched && name.errors?.required">Please enter your name.</div>
        <div class="form__message" *ngIf="name.dirty && name.errors?.pattern">Please enter a valid name.</div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="email" placeholder="Email*" required type="email"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && email.touched && email.errors?.required">Please enter your email.</div>
        <div class="form__message" *ngIf="email.dirty && email.errors?.email">Please enter a valid email address.</div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="password" placeholder="Password*" required type="password"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && password.touched && password.errors?.required">Please enter your password.</div>
        <div class="form__message" *ngIf="password.dirty && password.errors?.minlength">Password must be at least 8 characters long.</div>
        <ion-item class="auth-form__item">
          <ion-input formControlName="passwordConfirm" placeholder="Confirm password*" required type="password"></ion-input>
        </ion-item>
        <div class="form__message" *ngIf="registrationForm.invalid && passwordConfirm.touched && passwordConfirm.errors?.required">Please confirm your password.</div>
        <div class="form__message" *ngIf="passwordConfirm.dirty && passwordConfirm.errors?.equalTo">Passwords don't match.</div>
        <br>
        <button block color="light" [disabled]="registrationForm.invalid" ion-button round type="submit">Sign Up</button>
        <div class="auth-form__links">
          Already have an account?
          <a (click)="login()">Log in</a>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>