<ion-header>
  <ion-navbar role="toolbar">
    <ion-title>Recipes</ion-title>
    <ion-buttons end>
      <button (click)="addIngredientFilter()" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="funnel"></ion-icon>
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!!ingredientsFilter.length" padding>
    <h2>
      Filter ingredients:
    </h2>
    <button (click)="removeIngredientQuery(i)" icon-right ion-button *ngFor="let query of ingredientsFilter; let i = index">
      {{ query }}
      <ion-icon aria-hidden="true" name="close"></ion-icon>
    </button>
  </div>
  <ion-searchbar debounce="2000" (ionCancel)="clearSearchRecipes($event)" [(ngModel)]="recipeSearchQuery" placeholder="Search recipes" role="search">
  </ion-searchbar>
  <ion-list padding role="list">
    <button (click)="editRecipe(recipe)" ion-item *ngFor="let recipe of recipes | filter: 'ingredients': ingredientsFilter | search: recipeSearchQuery | limit: recipeLimit">
      <h2 text-wrap>{{ recipe.name }}</h2>
    </button>
  </ion-list>

  <ion-fab bottom right>
    <button (click)="addRecipe()" color="secondary" ion-fab role="button">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="loadMoreRecipes($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>