// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
    font-weight: 300;
}

.alert-checkbox-label {
    white-space: normal!important;
}

.auth-page {
    align-items: center;
    background-color: color($colors, secondary);
    color: rgb(255, 255, 255);
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.auth-form {
    background: none;
    max-width: 30rem;
    ion-list {
        background: none;
        ion-item {
            background: none;
        }
    }
    width: 100%;
}

.auth-form__item {
    padding: 0;
    width: 100%;
    input {
        color: rgb(255, 255, 255);
        text-align: center!important;
        ::placeholder {
            color: rgb(255, 255, 255)!important;
            text-align: center!important;
        }
        ::-moz-placeholder {
            color: rgb(255, 255, 255)!important;
            text-align: center!important;
        }
        ::-webkit-input-placeholder {
            color: rgb(255, 255, 255)!important;
            text-align: center!important;
        }
    }
}

.auth-form__image {
    display: block;
    margin: auto;
}

.auth-form__links {
    margin-top: 3rem;
    text-align: center;
    a {
        color: rgb(255, 255, 255);
        font-weight: bold;
        cursor: pointer;
        outline: none;
        text-decoration: none;
    }
}

.auth-form__title {
    text-align: center;
}

.circular-spinner {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100px;
    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
      }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
  
  @keyframes color {
    100%,
    0% {
      stroke: color($colors, danger);
    }
    40% {
      stroke: color($colors, primary);
    }
    66% {
      stroke: color($colors, secondary);
    }
    80%,
    90% {
      stroke: #ffa700;
    }
  }

.form__message {
    color: color($colors, warn);
    padding-top: 1rem;
}

.loading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
    text-align: center;
}

.loading-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.menu__user-info {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: space-around;
    width: 100%;
    ion-icon {
        font-size: 72px;
    }
}

.no-elements {
    align-items: center;
    bottom: 0;
    color: rgba(200, 200, 200, .9);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.no-elements__icon {
    font-size: 10rem;
}

textarea {
    resize: none;
}

.upload-placeholder {
    align-items: center;
    background-color: rgb(220, 220, 220);
    border-radius: 10rem;
    display: flex;
    flex-flow: column wrap;
    height: 10rem;
    justify-content: center;
    width: 10rem;
    ion-icon {
        font-size: 3rem;
    }
    &:hover {
        cursor: pointer;
    }
}