<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Diet</ion-title>
    <ion-buttons end>
      <button icon ion-button (click)="viewPageInfo()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="dietPageSegment">
      <ion-segment-button value="today">
        Info
      </ion-segment-button>
      <ion-segment-button value="trends">
        Trends
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab bottom *ngIf="dietPageSegment === 'today'" right>
    <button (click)="addMeal()" color="primary" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div [ngSwitch]="dietPageSegment">
    <div *ngSwitchCase="'today'">
      <ion-list no-lines>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="getDiet()" [max]="maxDateSelection" min="2018" [(ngModel)]="dietDate"
            pickerFormat="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        <ion-list-header>Meals</ion-list-header>
        <button (click)="editMeal(i)" detail-push ion-item *ngFor="let meal of diet.meals; let i = index">
          <ion-icon color="primary" item-start name="restaurant"></ion-icon>
          <h2>{{ meal.hour }}</h2>
          <ion-note item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-note>
        </button>
        <ion-item>
          <h2>Total</h2>
          <ion-note item-right>{{ diet.meals.length }} meals</ion-note>
        </ion-item>
        <ion-list-header>Nourishment</ion-list-header>
      </ion-list>
      <ion-item-group>
        <ion-item-divider>Proximates</ion-item-divider>
        <ion-item>
          Energy
          <p item-content>
            {{ diet.nourishment.energy?.value.toFixed(2) }} {{ diet.nourishment.energy?.unit }} ({{ diet.nourishmentAchieved.energy?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Water
          <p item-content>{{ diet.nourishment.water?.value.toFixed(2) }} {{ diet.nourishment.water?.unit }} ({{ diet.nourishmentAchieved.water?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Protein
          <p item-content>{{ diet.nourishment.protein?.value.toFixed(2) }} {{ diet.nourishment.protein?.unit }} ({{ diet.nourishmentAchieved.protein?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Carbohydrates
          <p item-content>{{ diet.nourishment.carbs?.value.toFixed(2) }} {{ diet.nourishment.carbs?.unit }} ({{ diet.nourishmentAchieved.carbs?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Fiber
          <p item-content>{{ diet.nourishment.fiber?.value.toFixed(2) }} {{ diet.nourishment.fiber?.unit }} ({{ diet.nourishmentAchieved.fiber?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Sugars
          <p item-content>{{ diet.nourishment.sugars?.value.toFixed(2) }} {{ diet.nourishment.sugars?.unit }} ({{ diet.nourishmentAchieved.sugars?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Fats
          <p item-content>{{ diet.nourishment.fats?.value.toFixed(2) }} {{ diet.nourishment.fats?.unit }} ({{ diet.nourishmentAchieved.fats?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Trans fat
          <p item-content>{{ diet.nourishment.transFat?.value.toFixed(2) }} {{ diet.nourishment.transFat?.unit }} ({{ diet.nourishmentAchieved.transFat?.value
            }}%)
          </p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential fatty acids</ion-item-divider>
        <ion-item>
          Omega-3 (ALA)
          <p item-content>
            {{ diet.nourishment.ala?.value.toFixed(2) }} {{ diet.nourishment.ala?.unit }} ({{ diet.nourishmentAchieved.ala?.value }}%)
          </p>
        </ion-item>
        <ion-item>
          Omega-6 (LA)
          <p item-content>
            {{ diet.nourishment.la?.value.toFixed(2) }} {{ diet.nourishment.la?.unit }} ({{ diet.nourishmentAchieved.la?.value }}%)
          </p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential amino acids</ion-item-divider>
        <ion-item>
          Histidine
          <p item-content>
            {{ diet.nourishment.histidine?.value.toFixed(2) }} {{ diet.nourishment.histidine?.unit }} ({{ diet.nourishmentAchieved.histidine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Isoleucine
          <p item-content>
            {{ diet.nourishment.isoleucine?.value.toFixed(2) }} {{ diet.nourishment.isoleucine?.unit }} ({{ diet.nourishmentAchieved.isoleucine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Leucine
          <p item-content>
            {{ diet.nourishment.leucine?.value.toFixed(2) }} {{ diet.nourishment.leucine?.unit }} ({{ diet.nourishmentAchieved.leucine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Lysine
          <p item-content>
            {{ diet.nourishment.lysine?.value.toFixed(2) }} {{ diet.nourishment.lysine?.unit }} ({{ diet.nourishmentAchieved.lysine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Methionine
          <p item-content>
            {{ diet.nourishment.methionine?.value.toFixed(2) }} {{ diet.nourishment.methionine?.unit }} ({{ diet.nourishmentAchieved.methionine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Phenylalanine
          <p item-content>
            {{ diet.nourishment.phenylalanine?.value.toFixed(2) }} {{ diet.nourishment.phenylalanine?.unit }} ({{ diet.nourishmentAchieved.phenylalanine?.value
            }}%
          </p>
        </ion-item>
        <ion-item>
          Threonine
          <p item-content>
            {{ diet.nourishment.threonine?.value.toFixed(2) }} {{ diet.nourishment.threonine?.unit }} ({{ diet.nourishmentAchieved.threonine?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Tryptophan
          <p item-content>
            {{ diet.nourishment.tryptophan?.value.toFixed(2) }} {{ diet.nourishment.tryptophan?.unit }} ({{ diet.nourishmentAchieved.tryptophan?.value
            }}%)
          </p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential vitamins</ion-item-divider>
        <ion-item>
          Vitamin A
          <p item-content>
            {{ diet.nourishment.vitaminA?.value.toFixed(2) }} {{ diet.nourishment.vitaminA?.unit }} ({{ diet.nourishmentAchieved.vitaminA?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B1 (Thiamine)
          <p item-content>
            {{ diet.nourishment.vitaminB1?.value.toFixed(2) }} {{ diet.nourishment.vitaminB1?.unit }} ({{ diet.nourishmentAchieved.vitaminB1?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B2 (Riboflavin)
          <p item-content>
            {{ diet.nourishment.vitaminB2?.value.toFixed(2) }} {{ diet.nourishment.vitaminB2?.unit }} ({{ diet.nourishmentAchieved.vitaminB2?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B3 (Niacin)
          <p item-content>
            {{ diet.nourishment.vitaminB3?.value.toFixed(2) }} {{ diet.nourishment.vitaminB3?.unit }} ({{ diet.nourishmentAchieved.vitaminB3?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B5 (Pantothenic acid)
          <p item-content>
            {{ diet.nourishment.vitaminB5?.value.toFixed(2) }} {{ diet.nourishment.vitaminB5?.unit }} ({{ diet.nourishmentAchieved.vitaminB5?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B6 (Pyridoxine)
          <p item-content>
            {{ diet.nourishment.vitaminB6?.value.toFixed(2) }} {{ diet.nourishment.vitaminB6?.unit }} ({{ diet.nourishmentAchieved.vitaminB6?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B9 (Folate)
          <p item-content>
            {{ diet.nourishment.vitaminB9?.value.toFixed(2) }} {{ diet.nourishment.vitaminB9?.unit }} ({{ diet.nourishmentAchieved.vitaminB9?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin B12 (Cobalamin)
          <p item-content>
            {{ diet.nourishment.vitaminB12?.value.toFixed(2) }} {{ diet.nourishment.vitaminB12?.unit }} ({{ diet.nourishmentAchieved.vitaminB12?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Choline
          <p item-content>
            {{ diet.nourishment.choline?.value.toFixed(2) }} {{ diet.nourishment.choline?.unit }} ({{ diet.nourishmentAchieved.choline?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin C (Ascorbic acid)
          <p item-content>
            {{ diet.nourishment.vitaminC?.value.toFixed(2) }} {{ diet.nourishment.vitaminC?.unit }} ({{ diet.nourishmentAchieved.vitaminC?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin D (Cholecalciferol)
          <p item-content>
            {{ diet.nourishment.vitaminD?.value.toFixed(2) }} {{ diet.nourishment.vitaminD?.unit }} ({{ diet.nourishmentAchieved.vitaminD?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin E (Tocopherol)
          <p item-content>
            {{ diet.nourishment.vitaminE?.value.toFixed(2) }} {{ diet.nourishment.vitaminE?.unit }} ({{ diet.nourishmentAchieved.vitaminE?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Vitamin K
          <p item-content>
            {{ diet.nourishment.vitaminK?.value.toFixed(2) }} {{ diet.nourishment.vitaminK?.unit }} ({{ diet.nourishmentAchieved.vitaminK?.value
            }}%)
          </p>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>Essential minerals</ion-item-divider>
        <ion-item>
          Calcium
          <p item-content>
            {{ diet.nourishment.calcium?.value.toFixed(2) }} {{ diet.nourishment.calcium?.unit }} ({{ diet.nourishmentAchieved.calcium?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Copper
          <p item-content>
            {{ diet.nourishment.copper?.value.toFixed(2) }} {{ diet.nourishment.copper?.unit }} ({{ diet.nourishmentAchieved.copper?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Iron
          <p item-content>
            {{ diet.nourishment.iron?.value.toFixed(2) }} {{ diet.nourishment.iron?.unit }} ({{ diet.nourishmentAchieved.iron?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Magnesium
          <p item-content>
            {{ diet.nourishment.magnesium?.value.toFixed(2) }} {{ diet.nourishment.magnesium?.unit }} ({{ diet.nourishmentAchieved.magnesium?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Manganese
          <p item-content>
            {{ diet.nourishment.manganese?.value.toFixed(2) }} {{ diet.nourishment.manganese?.unit }} ({{ diet.nourishmentAchieved.manganese?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Phosphorus
          <p item-content>
            {{ diet.nourishment.phosphorus?.value.toFixed(2) }} {{ diet.nourishment.phosphorus?.unit }} ({{ diet.nourishmentAchieved.phosphorus?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Potassium
          <p item-content>
            {{ diet.nourishment.potassium?.value.toFixed(2) }} {{ diet.nourishment.potassium?.unit }} ({{ diet.nourishmentAchieved.potassium?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Selenium
          <p item-content>
            {{ diet.nourishment.selenium?.value.toFixed(2) }} {{ diet.nourishment.selenium?.unit }} ({{ diet.nourishmentAchieved.selenium?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Sodium
          <p item-content>
            {{ diet.nourishment.sodium?.value.toFixed(2) }} {{ diet.nourishment.sodium?.unit }} ({{ diet.nourishmentAchieved.sodium?.value
            }}%)
          </p>
        </ion-item>
        <ion-item>
          Zinc
          <p item-content>
            {{ diet.nourishment.zinc?.value.toFixed(2) }} {{ diet.nourishment.zinc?.unit }} ({{ diet.nourishmentAchieved.zinc?.value
            }}%)
          </p>
        </ion-item>
      </ion-item-group>
    </div>
    <div *ngSwitchCase="'trends'">
      <ion-list no-lines>
        <ion-list-header>Chart settings</ion-list-header>
        <ion-item>
          <ion-label fixed>Trend days</ion-label>
          <ion-input (ionChange)="changeTrendDays()" [(ngModel)]="trendDays" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Nutrition data</ion-label>
          <ion-select [(ngModel)]="chartDataSelection" (ionChange)="changeChartData()">
            <ion-option *ngFor="let nutrient of nutrients" [value]="nutrient">{{diet?.nourishment[nutrient].name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-list-header>Chart</ion-list-header>
      </ion-list>
      <canvas baseChart class="chart" [chartType]="'line'" [colors]="chartColors" [datasets]="chartData" [labels]="chartLabels"
        [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>
</ion-content>