<ion-header>

    <ion-navbar>
        <ion-title>{{ meal.time }} meal</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="removeMeal()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="mealDetails">
            <ion-segment-button value="details">
                <ion-icon name="create"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="items">
                <ion-icon name="basket"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-fab bottom right *ngIf="mealDetails === 'items'">
        <button ion-fab color="secondary" (click)="addMealItems()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

    <div [ngSwitch]="mealDetails">
        <!-- Start of segment -->
        <div *ngSwitchCase="'details'">
            <ion-list>
                <ion-item text-wrap>
                    <h2>Size</h2>
                    <ion-icon color="{{meal.quantity > 1000 ? 'danger' : 'secondary'}}" name="{{meal.quantity > 1000 ? 'thumbs-down' : 'thumbs-up'}}"
                        item-right></ion-icon>
                    <p item-right ion-text color="{{ meal.quantity > 1000 ? 'danger' : 'secondary' }}">{{ meal.quantity }} g</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Meal time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" pickerFormat="hh mm a" [(ngModel)]="meal.time" (ionChange)="saveMeal()"></ion-datetime>
                </ion-item>
            </ion-list>
        </div>
        <!-- End of segment -->

        <!-- Start of segment -->
        <div *ngSwitchCase="'items'">
            <ion-list>
                <button ion-item *ngFor="let item of meal.mealItems; let i = index" (click)="changeItem(i)">
                    <h2 text-wrap>{{ item.name }}</h2>
                    <p text-wrap>{{ item.quantity * item.servings }}{{ item.unit }}</p>
                    <p item-content>{{ item.servings }} servings</p>
                </button>
            </ion-list>
        </div>
        <!-- End of segment -->
    </div>
</ion-content>