<ion-header>

    <ion-navbar>
        <ion-title>Meal details</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="saveMeal()">
                <ion-icon name="sync"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment [(ngModel)]="mealDetails" (click)="segmentChange()">
            <ion-segment-button value="details">
                <ion-icon name="book"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="preparation">
                <ion-icon name="bookmarks"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="items">
                <ion-icon name="list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="warnings">
                <ion-icon name="warning"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="nutrition">
                <ion-icon name="nutrition"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div [ngSwitch]="mealDetails">

        <!-- Start of segment -->
        <div *ngSwitchCase="'details'">
            <ion-list>
                <ion-item>
                    pH
                    <p item-content ion-text color="{{ meal.pral > 0 ? 'danger' : 'secondary' }}">{{ meal.pral > 0 ? 'Acid forming' : 'Alkaline forming'}}</p>
                </ion-item>
                <ion-item>
                    Size
                    <p item-content ion-text color="{{ meal.quantity > 750 ? 'danger' : 'secondary' }}">{{ meal.quantity }} g</p>
                </ion-item>
                <ion-item>
                    <ion-label floating>Meal time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" pickerFormat="hh mm a" [(ngModel)]="meal.time" (ionChange)="checkMealTime()"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Served cold</ion-label>
                    <ion-toggle [(ngModel)]="meal.isCold"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Served raw</ion-label>
                    <ion-toggle [(ngModel)]="meal.isRaw"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Nourishing for me (No abdominal cramps, burping, bloating, constipation, diarrhea, gas, heaviness, indigestion,
                        nausea, tiredness, vomiting)
                    </ion-label>
                    <ion-toggle [(ngModel)]="meal.wasNourishing"></ion-toggle>
                </ion-item>
            </ion-list>
        </div>
        <!-- End of segment -->

        <!-- Start of segment -->
        <div *ngSwitchCase="'items'">
            <ion-list>
                <ion-item *ngFor="let item of meal.mealItems; let i = index">
                    <ion-icon color="danger" name="trash" item-left (click)="removeItem(i)"></ion-icon>
                    <h2 text-wrap>{{ item.name }}</h2>
                    <p text-wrap>{{ item.quantity }}{{ item.unit }}</p>
                    <p item-content (click)="changeServings(item)">{{ item.servings }} servings</p>
                </ion-item>

            </ion-list>
            <ion-fab bottom right>
                <button ion-fab color="secondary" (click)="addMealItems()"><ion-icon name="add"></ion-icon></button>
            </ion-fab>
        </div>
        <!-- End of segment -->

        <!-- Start of segment -->
        <div *ngSwitchCase="'preparation'">
            <ion-list>
                <ion-list-header>
                    Before serving my meal
                </ion-list-header>
                <ion-item>
                    <ion-label text-wrap>Chew 32 times and insalivate for 30 seconds</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.chewing"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>I am grateful for this meal</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.gratitude"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>I am truly hungry and not just bored.</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.hunger"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>No disturbance (e.g. TV, talking, loud music, etc.)</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.noDisturbance"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>My meal is organic and clean</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.organic"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>I am relaxed and calm</ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.relaxation"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>Eat slowly and enjoy each bite
                    </ion-label>
                    <ion-checkbox [(ngModel)]="meal.serving.slowlyEating"></ion-checkbox>
                </ion-item>
            </ion-list>
        </div>
        <!-- End of segment -->

        <!-- Start of segment -->
        <div *ngSwitchCase="'warnings'">
            <ion-list>
                <ion-item *ngFor="let warning of meal.warnings">
                    <ion-icon color="danger" name="warning" item-left></ion-icon>
                    <h2 text-wrap>{{ warning.message }}</h2>
                    <p text-wrap>{{ warning.moreInfo }} servings</p>
                </ion-item>
            </ion-list>
        </div>
        <!-- End of segment -->

        <!-- Start of segment -->
        <div *ngSwitchCase="'nutrition'">
            <ion-item-group>
                <ion-item-divider>Info</ion-item-divider>
                <ion-item>
                    Energy
                    <p item-content ion-text color="{{ meal.nutrition.energy?.value > 25 ? 'danger' : 'secondary' }}">{{ meal.nutrition.energy?.value }}%</p>
                </ion-item>
                <ion-item>
                    Quantity
                    <p item-content ion-text color="{{ meal.quantity > 750 ? 'danger' : 'secondary' }}">{{ meal.quantity }}g</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Macronutrients</ion-item-divider>
                <ion-item>
                    Protein
                    <p item-content ion-text color="{{ meal.nutrition.protein?.value > meal.nutrition.energy?.value * 0.2 ? 'danger' : 'secondary' }}">{{ meal.nutrition.protein?.value }}%</p>
                </ion-item>
                <ion-item>
                    Fats
                    <p item-content ion-text color="{{ meal.nutrition.fats?.value > meal.nutrition.energy?.value * 0.3 ? 'danger' : 'secondary' }}">{{ meal.nutrition.fats?.value }}%</p>
                </ion-item>
                <ion-item>
                    Carbohydrates
                    <p item-content ion-text color="{{ meal.nutrition.carbs?.value > meal.nutrition.energy?.value * 0.5 ? 'danger' : 'secondary' }}">{{ meal.nutrition.carbs?.value }}%</p>
                </ion-item>
                <ion-item>
                    Water
                    <p item-content>{{ meal.nutrition.water?.value }}%</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Essential amino acids</ion-item-divider>
                <!--
                <ion-item>
                    Arginine
                    <p item-content>{{ meal.nutrition.arginine?.value }}%</p>
                </ion-item>
                -->
                <ion-item>
                    Histidine
                    <p item-content>{{ meal.nutrition.histidine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Isoleucine
                    <p item-content>{{ meal.nutrition.isoleucine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Leucine
                    <p item-content>{{ meal.nutrition.leucine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Lysine
                    <p item-content>{{ meal.nutrition.lysine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Methionine
                    <p item-content>{{ meal.nutrition.methionine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Phenylalanine
                    <p item-content>{{ meal.nutrition.phenylalanine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Threonine
                    <p item-content>{{ meal.nutrition.threonine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Tryptophan
                    <p item-content>{{ meal.nutrition.tryptophan?.value }}%</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Essential vitamins</ion-item-divider>
                <ion-item>
                    Vitamin A
                    <p item-content>{{ meal.nutrition.vitaminA?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B1 (Thiamine)
                    <p item-content>{{ meal.nutrition.vitaminB1?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B2 (Riboflavin)
                    <p item-content>{{ meal.nutrition.vitaminB2?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B3 (Niacin)
                    <p item-content>{{ meal.nutrition.vitaminB3?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B5 (Pantothenic acid)
                    <p item-content>{{ meal.nutrition.vitaminB5?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B6 (Pyridoxine)
                    <p item-content>{{ meal.nutrition.vitaminB6?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B9 (Folate)
                    <p item-content>{{ meal.nutrition.vitaminB9?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin B12 (Cobalamin)
                    <p item-content>{{ meal.nutrition.vitaminB12?.value }}%</p>
                </ion-item>
                <ion-item>
                    Choline
                    <p item-content>{{ meal.nutrition.choline?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin C (Ascorbic acid)
                    <p item-content>{{ meal.nutrition.vitaminC?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin D (Cholecalciferol)
                    <p item-content>{{ meal.nutrition.vitaminD?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin E (Tocopherol)
                    <p item-content>{{ meal.nutrition.vitaminE?.value }}%</p>
                </ion-item>
                <ion-item>
                    Vitamin K
                    <p item-content>{{ meal.nutrition.vitaminK?.value }}%</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Essential minerals</ion-item-divider>
                <ion-item>
                    Calcium
                    <p item-content>{{ meal.nutrition.calcium?.value }}%</p>
                </ion-item>
                <ion-item>
                    Copper
                    <p item-content>{{ meal.nutrition.copper?.value }}%</p>
                </ion-item>
                <ion-item>
                    Iron
                    <p item-content>{{ meal.nutrition.iron?.value }}%</p>
                </ion-item>
                <ion-item>
                    Magnesium
                    <p item-content>{{ meal.nutrition.magnesium?.value }}%</p>
                </ion-item>
                <ion-item>
                    Manganese
                    <p item-content>{{ meal.nutrition.manganese?.value }}%</p>
                </ion-item>
                <ion-item>
                    Phosphorus
                    <p item-content>{{ meal.nutrition.phosphorus?.value }}%</p>
                </ion-item>
                <ion-item>
                    Potassium
                    <p item-content>{{ meal.nutrition.potassium?.value }}%</p>
                </ion-item>
                <ion-item>
                    Selenium
                    <p item-content>{{ meal.nutrition.selenium?.value }}%</p>
                </ion-item>
                <ion-item>
                    Sodium
                    <p item-content>{{ meal.nutrition.sodium?.value }}%</p>
                </ion-item>
                <ion-item>
                    Zinc
                    <p item-content>{{ meal.nutrition.zinc?.value }}%</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Essential fatty acids</ion-item-divider>
                <ion-item>
                    Omega-3 (ALA)
                    <p item-content>{{ meal.nutrition.ala?.value }}%</p>
                </ion-item>
                <ion-item>
                    Omega-3 (DHA)
                    <p item-content>{{ meal.nutrition.dha?.value }}%</p>
                </ion-item>
                <ion-item>
                    Omega-3 (EPA)
                    <p item-content>{{ meal.nutrition.epa?.value }}%</p>
                </ion-item>
                <ion-item>
                    Omega-6 (LA)
                    <p item-content>{{ meal.nutrition.la?.value }}%</p>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider>Non-essential nutrients</ion-item-divider>
                <ion-item>
                    Alcohol
                    <p item-content>{{ meal.nutrition.alcohol?.value }}%</p>
                </ion-item>
                <ion-item>
                    Caffeine
                    <p item-content>{{ meal.nutrition.caffeine?.value }}%</p>
                </ion-item>
                <ion-item>
                    Trans fat
                    <p item-content>{{ meal.nutrition.transFat?.value }}%</p>
                </ion-item>
                <ion-item>
                    Sugars
                    <p item-content ion-text color="{{ meal.nutrition.sugars?.value > meal.nutrition.energy?.value * 0.1 ? 'danger' : 'secondary' }}">{{ meal.nutrition.sugars?.value }}%</p>
                </ion-item>
            </ion-item-group>
        </div>
        <!-- End of segment -->
    </div>
</ion-content>