<ion-header>

  <ion-navbar>
    <ion-title>Constitution Quiz {{ quizProgress + 1 }} of 3</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-12 col-lg-6 col-xl-6>
        <ion-item-group>
          <ion-item-divider color="secondary">
            Physical constitution
          </ion-item-divider>
          <ion-item padding *ngFor="let characteristic of constitutions[quizProgress]?.physical; let idx = index">
            <ion-label text-wrap>{{ characteristic }}</ion-label>
            <ion-select (ionChange)="addPoints($event, idx, 'physical')">
              <ion-option>Not at all</ion-option>
              <ion-option>A little bit</ion-option>
              <ion-option>Moderately</ion-option>
              <ion-option>With few exceptions</ion-option>
              <ion-option>Completely</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </ion-col>
      <ion-col col-sm-12 col-md-12 col-lg-6 col-xl-6>
        <ion-item-group>
          <ion-item-divider color="secondary">
            Psychological constitution
          </ion-item-divider>
          <ion-item padding *ngFor="let characteristic of constitutions[quizProgress]?.psychological; let idx = index">
            <ion-label text-wrap>{{ characteristic }}</ion-label>
            <ion-select (ionChange)="addPoints($event, idx, 'psychological')">
              <ion-option>Not at all</ion-option>
              <ion-option>Not really</ion-option>
              <ion-option>Moderately</ion-option>
              <ion-option>With few exceptions</ion-option>
              <ion-option>Completely</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="quizProgress > 0" left bottom>
    <button ion-fab (click)="previousQuiz()"><ion-icon name="arrow-round-back"></ion-icon></button>
  </ion-fab>

  <ion-fab *ngIf="quizProgress < 2" right bottom>
    <button ion-fab (click)="nextQuiz()"><ion-icon name="arrow-round-forward"></ion-icon></button>
  </ion-fab>

  <ion-fab *ngIf="quizProgress === 2" right bottom>
    <button ion-fab (click)="finishQuiz()"><ion-icon name="thumbs-up"></ion-icon></button>
  </ion-fab>

</ion-content>