<ion-header>

  <ion-navbar>
    <ion-title>Constitution Quiz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list radio-group *ngFor="let question of constitutionQuestions; let qIdx = index">
    <ion-list-header>
      {{ question.observation }}
    </ion-list-header>

    <ion-item *ngFor="let c of question.characteristics">
      <ion-label text-wrap>{{ c.description }}</ion-label>
      <ion-radio (ionSelect)="checkCharacteristic(c, qIdx)" [checked]="c.checked" [value]="c.dosha"></ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="finishQuiz()">Finish quiz</button>

</ion-content>