<ion-header>
  <ion-navbar>
    <ion-title>{{ exercise?.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6-sm>
        <div *ngIf="!!exercise.warning">
          <h2 color="warn" ion-text>
            <ion-icon color="warn" name="warning"></ion-icon>Warning</h2>
          <p color="warn" ion-text>{{ exercise.warning }}</p>
        </div>
        <h2>Instructions</h2>
        <ul>
          <li *ngFor="let instruction of exercise.instructions">{{ instruction }}</li>
        </ul>
        <h2>Muscles involved</h2>
        <ul>
          <li *ngFor="let muscle of exercise.muscles">{{ muscle }}</li>
        </ul>
      </ion-col>
      <ion-col col-6-sm>
        <img [src]="exercise.image" [alt]="exercise.name">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Comments</h2>
        <ul>
          <li *ngFor="let comment of exercise.comments">{{ comment }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Reference</h2>
        <a href="https://www.amazon.com/Strength-Training-Anatomy-Frederic-Delavier/dp/0736063684/ref=sr_1_2?s=books&ie=UTF8&qid=1518449846&sr=1-2&keywords=strength+training+anatomy+2nd+edition"
          target="_blank">Frederic Delavier, "Strength training anatomy"</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>