<ion-header>
  <ion-navbar>
    <ion-title>Activities</ion-title>
    <ion-buttons end>
      <button (click)="done()" icon-only ion-button padding>
        <ion-icon name="done-all"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar debounce="2000" (ionCancel)="clearSearchActivities($event)" [(ngModel)]="activitySearchQuery" placeholder="Search activities"
    role="search">
  </ion-searchbar>
  <ion-item-group *ngFor="let activityCategory of activityCategories | activityFilter: activitySearchQuery | limit: activityLimit ; let i = index">
    <ion-item-divider>{{ activityCategory.name }}</ion-item-divider>
    <ion-item *ngFor="let activity of activityCategory.activities | sort: 'name': 'asc'">
      <ion-label text-wrap>{{ activity.name }}</ion-label>
      <ion-checkbox #checkBox (click)="selectActivity(activity, activityCategory, checkBox)"></ion-checkbox>
    </ion-item>
  </ion-item-group>
  <ion-infinite-scroll (ionInfinite)="loadMoreActivities($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>