<ion-header>
  <ion-navbar role="toolbar">
    <button ion-button menuToggle role="button">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </button>
    <ion-title>Exercise</ion-title>
    <ion-buttons end>
      <button (click)="saveActivityPlan()" [disabled]="!activityPlan.activities.length" ion-button padding role="button">
        Save
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="exerciseSegment">
      <ion-segment-button value="dayLog">
        Today
      </ion-segment-button>
      <ion-segment-button value="weekLog">
        Week log
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab *ngIf="exerciseSegment === 'dayLog'" bottom right>
    <button (click)="addActivity()" color="secondary" ion-fab role="button">
          <ion-icon aria-hidden="true" name="add"></ion-icon>
        </button>
  </ion-fab>
  <div [ngSwitch]="exerciseSegment">
    <ion-list *ngSwitchCase="'dayLog'" padding role="list">
      <button (click)="changeActivity(i)" ion-item *ngFor="let activity of activityPlan?.activities; let i = index" role="button">
      <ion-icon aria-hidden="true" color="primary" item-start name="create"></ion-icon>
      <h2 text-wrap>{{ activity.name }}</h2>
      <p text-wrap>{{ activity.duration }} minutes</p>
      <p item-content>{{ activity.energyConsumption }} kcal</p>
    </button>
      <ion-item role="listitem">
        <h2 text-wrap>Total duration</h2>
        <p item-content>{{ activityPlan?.totalDuration }} minutes</p>
      </ion-item>
      <ion-item role="listitem">
        <h2 text-wrap>Total energy consumption</h2>
        <p item-content>{{ activityPlan?.totalEnergyConsumption }} kcal</p>
      </ion-item>
      <ion-item>
        <ion-label color="{{ activityPlan?.combos.energy ? 'secondary' : 'danger' }}" for="energy" id="energyLabel" text-wrap>
          {{ activityPlan?.combos.energy ? 'I feeling energized and fresh' : 'I am feeling exhausted and depressed' }}
          <ion-icon aria-hidden="true" color="{{ activityPlan?.combos.energy ? 'secondary' : 'danger' }}" item-right name="{{ activityPlan?.combos.energy ? 'thumbs-up' : 'thumbs-down' }}"></ion-icon>
        </ion-label>
        <ion-toggle aria-live="assertive" aria-labelledby="energyLabel" aria-required="true" id="energy" [(ngModel)]="activityPlan?.combos.energy"
          role="switch"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.hiit" role="listitem">
        <ion-icon aria-hidden="true" color="secondary" item-start name="thumbs-up"></ion-icon>
        <h2 text-wrap>You reached your training heart rate</h2>
        <p item-content>You have increased your metabolism and fat burning mode.</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.lowActivity" role="listitem">
        <ion-icon aria-hidden="true" color="danger" item-start name="thumbs-down"></ion-icon>
        <h2 text-wrap>Your activities are to light</h2>
        <p item-content>You need to achieve your target heart rate zone every day.</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.overtraining" role="listitem">
        <ion-icon aria-hidden="true" color="danger" item-start name="thumbs-down"></ion-icon>
        <h2 text-wrap>Overtraining</h2>
        <p item-content>You are doing too much intense exercise in a singrle day.</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.sedentarism" role="listitem">
        <ion-icon aria-hidden="true" color="danger" item-start name="thumbs-down"></ion-icon>
        <h2 text-wrap>Sedentarism</h2>
        <p item-content>You are inactive and predisposed to all organ diseases.</p>
      </ion-item>
      <ion-item *ngIf="!(activityPlan?.combos.lowActivity || activityPlan?.combos.overtraining || activityPlan?.combos.sedentarism)"
        role="listitem">
        <ion-icon aria-hidden="true" color="secondary" item-start name="thumbs-up"></ion-icon>
        <h2 text-wrap>You are active</h2>
        <p item-content>You are increasing your longevity and improving your health.</p>
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'weekLog'">
      <ion-item padding>
        <ion-label for="chartDataSelection" id="chartDataSelectionLabel">Exercise data</ion-label>
        <ion-select [(ngModel)]="chartDataSelection" (ionChange)="changeChartData()" aria-live="assertive" aria-labelledby="chartDataSelectionLabel"
          aria-required="true" id="chartDataSelection">
          <ion-option role="option" value="duration">Total duration</ion-option>
          <ion-option role="option" value="energy">Total energy burn</ion-option>
        </ion-select>
      </ion-item>
      <canvas baseChart class="chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>

</ion-content>