<ion-header>
  <ion-navbar role="toolbar">
    <button ion-button menuToggle role="button">
      <ion-icon aria-hidden="true" name="menu"></ion-icon>
    </button>
    <ion-title>Exercise</ion-title>
    <ion-buttons end>
      <button (click)="getPrevPlan()" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="rewind"></ion-icon>
      </button>
      <button (click)="saveActivityPlan()" [disabled]="!activityPlan.activities.length" ion-button padding role="button">
        <ion-icon aria-hidden="true" name="cloud-done"></ion-icon>
      </button>
      <button (click)="showSettings($event)" icon-only ion-button role="button">
        <ion-icon aria-hidden="true" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar role="tablist">
    <ion-segment [(ngModel)]="exerciseSegment">
      <ion-segment-button value="goals">
        Goals
      </ion-segment-button>
      <ion-segment-button value="dayLog">
        Today
      </ion-segment-button>
      <ion-segment-button value="weekLog">
        Week log
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab *ngIf="exerciseSegment === 'dayLog'" bottom right>
    <button (click)="addActivity()" color="secondary" ion-fab role="button">
      <ion-icon aria-hidden="true" name="add"></ion-icon>
    </button>
  </ion-fab>
  <div [ngSwitch]="exerciseSegment">
    <ion-list *ngSwitchCase="'goals'" padding>
      <ion-item>
        <ion-label for="exerciseDurationSwitch" id="exerciseDurationSwitchLabel">Exercise duration</ion-label>
        <ion-toggle aria-live="assertive" aria-labelledby="exerciseDurationSwitchLabel" aria-required="false" id="exerciseDurationSwitch"
          [(ngModel)]="exerciseGoals.duration.isSelected" role="switch">
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="exerciseGoals.duration.isSelected">
        <ion-label floating for="exerciseDuration" id="exerciseDurationLabel">Exercise duration (minutes)</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="exerciseDurationLabel" aria-required="true" id="exerciseDuration"
          [(ngModel)]="exerciseGoals.duration.value" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="exerciseEnergySwitch" id="exerciseEnergySwitchLabel">Energy consumption goal</ion-label>
        <ion-toggle aria-live="assertive" aria-labelledby="exerciseEnergySwitchLabel" aria-required="false" id="exerciseEnergySwitch"
          [(ngModel)]="exerciseGoals.energy.isSelected" role="switch">
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="exerciseGoals.energy.isSelected">
        <ion-label floating for="exerciseEnergy" id="exerciseEnergyLabel">Energy consumption (kcal)</ion-label>
        <ion-input aria-live="assertive" aria-autocomplete="false" aria-labelledby="exerciseEnergyLabel" aria-required="true" id="exerciseEnergy"
          [(ngModel)]="exerciseGoals.energy.value" type="number"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'dayLog'" padding role="list">
      <button (click)="changeActivity(i)" ion-item *ngFor="let activity of activityPlan?.activities; let i = index" role="button">
      <ion-icon aria-hidden="true" color="primary" item-start name="create"></ion-icon>
      <h2 text-wrap>{{ activity.name }}</h2>
      <p text-wrap>{{ activity.duration }} minutes</p>
      <p item-content>{{ activity.energyConsumption }} kcal</p>
    </button>
      <ion-item role="listitem">
        <h2 text-wrap>Total duration</h2>
        <p item-content>{{ activityPlan?.totalDuration }} minutes</p>
      </ion-item>
      <ion-item role="listitem">
        <h2 text-wrap>Total energy consumption</h2>
        <p item-content>{{ activityPlan?.totalEnergyConsumption }} kcal</p>
      </ion-item>
      <ion-item>
        <ion-label color="{{ activityPlan?.combos.energy && 'secondary'}}" for="energy" id="energyLabel" text-wrap>
          I am feeling energized and fresh!
          <ion-icon *ngIf="activityPlan?.combos.energy" aria-hidden="true" color="secondary" item-right name="thumbs-up"></ion-icon>
        </ion-label>
        <ion-toggle aria-live="assertive" aria-labelledby="energyLabel" aria-required="true" id="energy" [(ngModel)]="activityPlan?.combos.energy"
          role="switch"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'dayLog'" role="list">
      <ion-item-divider color="light" role="separator">
        Suggestions
      </ion-item-divider>
      <ion-item *ngIf="activityPlan?.combos.lowActivity" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Your activities are to light</h2>
        <p text-wrap>You need to reach your target heart rate zone every day the get the best of your exercise routine.</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.overtraining" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Overtraining</h2>
        <p text-wrap>You are doing too much intense exercise in a single day and may damage your cardiovascular system, nervous ystem,
          and skeletal muscles. Split your intense exercise routine throughout the week in short, but intense sessions.</p>
      </ion-item>
      <ion-item *ngIf="activityPlan?.combos.sedentarism" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Stay active</h2>
        <p text-wrap>Sedentarism puts you on a risk of all major organ diseases. Walk instead of taking a ride, take the stairs instead
          of the elevator, stretch every 45 minutes, do anything you can to avoid standing in one place. Everything counts!</p>
      </ion-item>
      <ion-item *ngIf="!activityPlan?.combos.energy" role="listitem">
        <ion-icon aria-hidden="true" color="primary" item-start name="bulb"></ion-icon>
        <h2 text-wrap>Train smart</h2>
        <p text-wrap>Exercise must help your body get rid of toxins and increase oxygen intake. As a result, you'll feel energized and
          fresh. Not having this feeling means you are not breathing correctly during exercise, you are not reaching your
          target heart rate, your are not resting/exerciseing properly, overtraining, not having the right nutrition, or
          doing the wrong exercise for your body.</p>
      </ion-item>
    </ion-list>

    <div *ngSwitchCase="'weekLog'">
      <ion-item padding>
        <ion-label for="chartDataSelection" id="chartDataSelectionLabel">Exercise data</ion-label>
        <ion-select [(ngModel)]="chartDataSelection" (ionChange)="changeChartData()" aria-live="assertive" aria-labelledby="chartDataSelectionLabel"
          aria-required="true" id="chartDataSelection">
          <ion-option role="option" value="duration">Total duration</ion-option>
          <ion-option role="option" value="energy">Total energy burn</ion-option>
        </ion-select>
      </ion-item>
      <canvas baseChart class="chart" [chartType]="'line'" [datasets]="chartData" [labels]="chartLabels" [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>

</ion-content>