<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Physical activity</ion-title>
    <ion-buttons end>
      <button clear (click)="save()" [disabled]="!unsavedChanges" icon-only ion-button padding-right>
        <ion-icon name="done-all"></ion-icon>
      </button>
      <button (click)="viewPageInfo()" icon ion-button padding-right>
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="pageSegment">
      <ion-segment-button value="today">
        Info
      </ion-segment-button>
      <ion-segment-button value="trends">
        Trends
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab bottom *ngIf="pageSegment === 'today'" right>
    <button (click)="addActivity()" color="primary" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <div [ngSwitch]="pageSegment">
    <div *ngSwitchCase="'today'">
      <ion-list>
        <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" (ionChange)="getPhysicalActivityLog()" [max]="maxDateSelection" min="2018" [(ngModel)]="physicalActivityLogDate"
            pickerFormat="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        <ion-list-header>Activities</ion-list-header>
        <button (click)="changeActivity(i)" detail-push ion-item *ngFor="let activity of physicalActivityLog.activities; let i = index">
          <ion-icon color="primary" item-start name="create"></ion-icon>
          <h2 text-wrap>{{ activity.category && activity.category + ', ' }}{{ activity.name }}</h2>
          <p>{{ activity.duration }} mins</p>
          <p item-content>{{ activity.energyBurn }} kcal</p>
        </button>
        <ion-item>
          <h2 text-wrap>Total activities</h2>
          <p item-content>{{ physicalActivityLog.activities.length }} activities</p>
        </ion-item>
        <button (click)="viewMuscleGroups()" ion-item>
          <ion-icon color="primary" item-start md-name="fitness_center"></ion-icon>
          <h2>Muscle group exercises</h2>
          <ion-note item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-note>
        </button>
        <button (click)="viewPhysicalActivityLogGuidelines()" ion-item>
          <ion-icon color="primary" item-start name="book"></ion-icon>
          <h2>Physical activity guidelines</h2>
          <ion-note item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-note>
        </button>
        <ion-list-header>Review</ion-list-header>
        <ion-item>
          <h2>Duration</h2>
          <ion-note item-right>{{ physicalActivityLog.duration }} mins</ion-note>
        </ion-item>
        <ion-item>
          <h2>Energy burn</h2>
          <ion-note item-right>{{ physicalActivityLog.energyBurn }} kcal</ion-note>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" item-start name="clipboard"></ion-icon>
          <ion-label fixed>Notes</ion-label>
          <ion-textarea (ionChange)="changeMade()" [(ngModel)]="physicalActivityLog.notes" placeholder="i.e. I felt very confident and energized after working out" type="text" wrap="hard"></ion-textarea>
        </ion-item>
        <button (click)="takeOvertrainingTest()" ion-item>
          <ion-icon color="primary" item-start name="battery-dead"></ion-icon>
          <h2>Take overtraining test here</h2>
          <ion-note item-right>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-note>
        </button>
      </ion-list>
    </div>
    <div *ngSwitchCase="'trends'">
      <ion-list no-lines>
        <ion-list-header>Chart settings</ion-list-header>
        <ion-item>
          <ion-label fixed>Trend days</ion-label>
          <ion-input (ionChange)="changeTrendDays()" [(ngModel)]="trendDays" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>PhysicalActivityLog data</ion-label>
          <ion-select (ionChange)="changeChartData()" [(ngModel)]="chartDataSelection">
            <ion-option value="duration">Duration</ion-option>
            <ion-option value="energyBurn">Energy burn</ion-option>
          </ion-select>
        </ion-item>
        <ion-list-header>Chart</ion-list-header>
      </ion-list>
      <canvas baseChart class="chart" [chartType]="'line'" [colors]="chartColors" [datasets]="chartData" [labels]="chartLabels"
        [legend]="true" [options]="chartOpts">
      </canvas>
    </div>
  </div>

</ion-content>