<ion-header>
  <ion-navbar>
    <ion-title>Muscle group list</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-lg-4 col-md-6 col-sm-6 *ngFor="let muscleGroup of (muscleGroups$ | async)">
        <ion-item-group>
          <ion-item-divider>{{ muscleGroup.group }}</ion-item-divider>
          <button (click)="openDetails(exercise)" ion-item *ngFor="let exercise of muscleGroup.exercises">
            {{ exercise.name }}
            <ion-note item-right>
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-note>
          </button>
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>